<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>
  <body>
    <h1>Sprockets Babel Demonstration Project</h1>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'vendor-ie8' %>
    <![endif]-->
    <%= javascript_include_tag 'vendor' %>
    <%= javascript_include_tag 'app' %>
  </body>
</html>
